@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (min-width: 600px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1500px) {
  .cards-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1800px) {
  .cards-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 2200px) {
  .cards-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cards-grid {
  max-width: 2500px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.App-button {
  width: 130px;
  height: 35px;
  box-shadow: 1px 1px 1px #303031;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
}

.App-button:hover {
  box-shadow: 3px 3px 3px #1b1b1b;
  background-color: #cfd2df;
}

.panel {
  width: 100%;
  height: 100vh;
  /* padding: 40px; */
  background-color: #12121f;
}

.blog-card-container {
  width: 318px;
  height: 358px;
  border-style: solid;
  border-width: thin;
  border-radius: 20px;
  border-color: #5a5e6e;
  box-shadow: 5px 10px 18px #131313;
  overflow: hidden;
  padding: 10px;
  margin: 20px;
  background-color: #2a2d3a;
}

.blog-card-container:hover {
  box-shadow: 7px 12px 20px #000000;
  border-color: #8f94a8;
}

.card-header {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

.poster-image {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  box-shadow: 1px 1px 1px #303031;
}

.header-spacer {
  width: 110px;
  height: 40px;
}

.ellipsis {
  width: 35px;
  height: 40px;
  border-radius: 10px;
  color: #999999;
}

.ellipsis:hover {
  color: #d3d3d3;
  background-color: #3d4152;
}

.card-title-container {
  width: 100%;
  height: 80px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  margin-bottom: 10px;
}

.card-title {
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial;
  text-align: left;
  vertical-align: text-top;
  font-size: 20px;
  margin: 0px;
  color: #ffffff;
}

.read-time-contianer {
  width: 100%;
  height: 20px;
  padding-left: 10px;
}

.read-time {
  height: 100%;
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial;
  font-style: solid;
  text-align: left;
  overflow: hidden;
  margin: 0px;
  color: #c3c3c3;
}

.card-image-container {
  width: 100%;
  height: 170px;
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 3px 5px #000000;
}

.card-footer {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 5px;
  padding-top: 5px;
  overflow: hidden;
}

.up-arrow-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #303031;
  color: #999999;
}

.up-arrow-icon:hover {
  color: #0ad882;
  background-color: #0ad8822d;
}

.comment-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #303031;
  color: #999999;
}

.comment-icon:hover {
  color: #00cec4;
  background-color: #00cec42d;
}

.curve-right-arrow-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #303031;
  color: #999999;
}

.curve-right-arrow-icon:hover {
  color: #cf41c3;
  background-color: #cf41c32d;
}

.footer-spacer {
  width: 95px;
  height: 40px;
}

.box-arrow {
  padding-left: 5px;
  color: #000000;
}
